<div class="jumbotron">

<div class="row first-row">
  <div class="col-md-2">
    <p>Title</p>
  </div>
  <div class="col-md-2">
    <p>Author</p>
  </div>
  <div class="col-md-6">
    <p>Blog Entry</p>
  </div>
  <div class="col-md-2">
    <p>Action</p>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="row table-content">
  <div class="col-md-2">
    <%= post.title %>
  </div>
  <div class="col-md-2">
    <%= post.user.username %>
  </div>
  <div class="col-md-6">
    <%= post.blog_entry %>
  </div>
  <div class="col-md-2">
    <ul id="action">
    <li><%= link_to 'Read', post, class: "btn btn-default" %></li>
    <li><%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %></li>
    <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></li>
    </ul>
  </div>   
  </div> 
<% end %>
</div>
