
<div class="container">

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Title:</strong>
    <%= @post.title %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Author:</strong>
      <%= link_to user_posts_path(name: @post.user.username) do %>
        <%= image_tag @post.user.avatar.url, id: "post_pic" %>
        <%= @post.user.username %>
      <% end %>
    </p>
    <p>
      <strong>Last updated:</strong>
      <%= @post.updated_at %>
    </p>
    <br>
    <div class ="blog">
      <p>
        <%= @post.blog_entry.html_safe %>
      </p>

      <% if @post.user == current_user %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>
    </div>
  </div>
  <div class="panel-footer panel-post">
    <em><strong>Tags</strong></em>:
    <% @post.tags.each do |tag| %>
      |<%= link_to tag.name, tag %>|
    <% end %>
    <br>
    <h5>Add Tags:</h5>
    <%= render 'tags/form', tag: @tag %>
    <% Tagname.create(tag_id: @tag.id, post_id: @post.id) %>
  </div>
</div>

<div id="comment-history">
    <h4>Comments</h4>
    <% @post.comments.each do |comment| %>
      <p id="each-comment">
        At <%= comment.updated_at %>: 
        <br> 
        <%= link_to user_posts_path(name: comment.user.username) do %>
          <%= image_tag comment.user.avatar.url, id: "post_pic" %>
          <strong><%= comment.user.username %> </strong>
        <% end %>
        <strong>said...</strong><br />
        <%= comment.comment_entry %>
        <% if comment.user == current_user %>
          <br> <br> <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    <% end %>
</div>

<div id="comments">
    <h4>Leave a comment: </h4>
    <%= render 'comments/form', comment: @comment %>
</div>



<%= link_to 'Back', posts_path %>
</div>

